.portfolio-container {
    width: 100%;
    height: 100%;
    padding: 0px 80px 30px 80px;

    @media #{$tablet} {
        padding: 20px 20px 20px 20px;
    }

    @media #{$mobile} {
        padding: 30px 30px 30px 30px;
    }

    > .current-page-container {
        width: fit-content;

        > .current-page {
            font-size: 2rem;
            color: var(--color1);
            text-transform: capitalize;
            font-weight: bold;
            width: fit-content;

            @media #{$mobile} {
                font-size: 26px;
            }
        }

        > .nav-line {
            width: 100%;
            border-radius: 15px;
            border: solid 3px var(--color2);
            margin: 0px 0px 50px 0px;
        }
    }

    > .line {
        width: 100%;
        margin: 10px auto 20px auto;
        border: 1px solid var(--color5);
        border-radius: 1px;
    }

    > .type-container {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: auto;
        padding-bottom: 8px;

        @media #{$tablet} {
            flex-wrap: wrap;
            max-height: 70px;
        }

        > .filter {
            flex: 0 0 auto;
            min-width: fit-content;
            font-size: 20px;
            font-weight: bold;
            color: var(--color1);
        }

        > .filter.active {
            color: var(--color2);
        }
    }

    > .type-container::-webkit-scrollbar {
        height: 6px;
    }

    > .works-container {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;

        @media #{$mobile} {
            gap: 20px;
        }
    }
}
