$white: #fff;
$white2: #ebebeb;
$white3: #d6d6d6;
$white4: #c3c3c3;

$yellow: #fbb300;
$orange: #fb7100;

$gray1: #292929;
$gray2: #2b2b2b;
$gray3: #1e1e1f;
$gray4: #2f2f2f;
$gray5: #727272;
$gray6: #464646;
$gray7: #383838;
$gray8: #171717;
$gray9: #111;

$font-size-desktop: 16px;

$icon-size-desktop: 26px;
$icon-size-tablet: 20px;
$icon-size-mobile: 16px;

$mobile: "(max-width: 700px)";
$tablet: "(max-width: 1200px)";
$desktop: "(min-width: 1201px)";

:root {
	--font-size1: #{$font-size-desktop};

	--icon-size: #{$icon-size-desktop};
	--icon-size2: #{$icon-size-desktop * 2};
}

@media #{$mobile} {
	:root {
		/* 		--icon-size: #{$icon-size-mobile}; */
		--icon-size2: #{$icon-size-mobile * 2};
	}
}

[data-theme="light"] {
	--color1: #{$gray8};
	--color2: #{$orange};
	--color3: #{$yellow};
	--color4: #{$gray1};
	--color5: #{$white2};
	--color6: #{$white};
	--color7: #{$white2};
	--color8: #{$gray5};
	--color9: #{$white3};
	--color10: #{$gray7};
	--color11: #{$gray8};
	--color12: #{$white};
	--color13: #{$white2};
	--color14: #{$white3};
	--color15: #{$white4};

	@media #{$mobile} {
		--color13: #{$white3};
	}
}

[data-theme="dark"] {
	--color1: #{$white};
	--color2: #{$yellow};
	--color3: #{$orange};
	--color4: #{$gray1};
	--color5: #{$gray2};
	--color6: #{$gray3};
	--color7: #{$gray3};
	--color8: #{$gray5};
	--color9: #{$gray6};
	--color10: #{$gray7};
	--color11: #{$gray8};
	--color12: #{$gray9};
	--color13: #{$white2};
	--color14: #{$gray2};
	--color15: #{$gray6};
}

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

@import "App";

@import "./views/AboutView";
@import "./views/ContactView";
@import "./views/PortfolioView";
@import "./views/ResumeView";
@import "./views/WelcomeView";

@import "./components/Profile";
@import "./components/ProfileInfoTag";
@import "./components/AboutCard";
@import "./components/ProgressBar";
@import "./components/WorkCard";
@import "./components/ResumeInfo";
@import "./components/Nav";
/* @import "./components/ContactForm"; */

body {
	background-color: var(--color6);
	margin: 0;

	@media #{$mobile} {
		background-color: var(--color12);
		margin-bottom: 70px;
	}
}

html {
	overflow-y: scroll;
	height: fit-content;
}

html,
body {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	transition: 0.3s;
}

#app {
	/* 	font-family: Avenir, Helvetica, Arial, sans-serif; */
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//SCROLLBAR

/* width */
::-webkit-scrollbar {
	width: 10px;

	@media #{$mobile} {
		display: none;
	}
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--color6);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--color9);
}
